body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
    color: #2B283A;
  }

.site-frame {
    border: none;
}

.sidebar {
    width: 33%;
    padding: 10px 15px;
    overflow: scroll;
}

.style-container {
    border-bottom: 1px solid #0D3B66;
    font-size: 14px;
}

.selector-div {
    display: flex;
    justify-content: space-between;
}

.style-container p {
    margin: 0;
}

.style-paragraph, .style-value-span {
    padding-left: 20px;
}

.style-property-span {
    color: #F95738;
}